{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block classPage %}dashboard
{% endblock %}
{% block header %}
	<h1>Tabeau de bord</h1>
{% endblock %}
{% block body %}

	<h3>Nombre d'enfants :
		{{ kids|length }}</h3>
		<h5 class="3-5">3 - 5 ans</h5>
		<h5 class="6-12">6 - 12 ans</h5>
		{{ render_chart(chart) }}
	<h3>Nombre d'animateurs :
		{{ animators|length }}</h3>
	<div class="list-container">
		{% set currentDate = null %}

		{% for task in tasks %}
			{% set day = task.date|date('Y-m-d') %}
			{% if day != currentDate %}
				{% set currentDate = day %}
				<div class="list-day">
					<h3>Tâches du
						{{ task.date|date('d F Y') }}</h3>
					<ul>
					{% endif %}

					<li>
						<span>{{ task.title.label }}</span>
						:
						{% for u in task.users %}
							{{ loop.first ? '' : '& ' }}{{ u.username|capitalize }}
						{% endfor %}
					</li>

					{# Si prochaine itération est une nouvelle date, on ferme la liste #}
					{% set next = tasks[loop.index] ?? null %}
					{% if next is null or next.date|date('Y-m-d') != currentDate %}
					</ul>
				</div>
			{% endif %}
		{% else %}
			<p>Aucune tâche.</p>
		{% endfor %}
	</div>
{% endblock %}
