{% extends 'base.html.twig' %}

{% block title %}Schedule index{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Matin</th>
                <th>Ap-midi</th>
                <th class="not-mobile">Notes</th>
            </tr>
        </thead>
        <tbody>
        {% for schedule in schedules %}
            <tr>
                <td>{{ schedule.date ? schedule.date|date('d-m-Y') : '' }}</td>
                <td>{{ schedule.amStart ? schedule.amStart|date('H:i') : '' }} - {{ schedule.amEnd ? schedule.amEnd|date('H:i') : '' }}</td>
                <td>{{ schedule.pmStart ? schedule.pmStart|date('H:i') : '' }} - {{ schedule.pmEnd ? schedule.pmEnd|date('H:i') : '' }}</td>
                <td class="not-mobile">{{ schedule.notes }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
