{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}
{% block classPage %}outing-index{% endblock %}
{% block header %}
    <h1>Liste des sorties</h1>
    <a href="{{ path('app_outing_new') }}" title="Nouvelle sortie" class="btn green svg">{{ ux_icon('tabler:plus') }}</a>
{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date</th>
                <th>Enfants</th>
                <th class="not-mobile">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for outing in outings %}
                <tr>
                    <td><a href="{{ path('app_outing_show', {'id': outing.id}) }}">{{ outing.title }}</a></td>
                    <td>{{outing.date|date('d/m/y')}}</td>
                    <td>{{outing.kids.count}}</td>
                    <td class="not-mobile">
                        <a href="{{ path('app_outing_show', {'id': outing.id}) }}">{{ ux_icon('tabler:eye') }}</a>
                        <a href="{{ path('app_outing_edit', {'id': outing.id}) }}">{{ ux_icon('tabler:edit') }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Pas de résultat</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
