{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}
{% block classPage %}outing-index{% endblock %}
{% block header %}
    <h1>Liste des sorties</h1>
    <a href="{{ path('app_outing_new') }}" class="btn green">Nouvelle sortie</a>
{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date</th>
                <th>Nombre d'enfants</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for outing in outings %}
                <tr>
                    <td>{{ outing.title }}</td>
                    <td>10/10/2025</td>
                    <td>{{outing.kids.count}}</td>
                    <td>
                        <a href="{{ path('app_outing_show', {'id': outing.id}) }}">Voir</a>
                        <a href="{{ path('app_outing_edit', {'id': outing.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Pas de résultat</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
