{% extends 'base.html.twig' %}

{% block title %}Édition fiche{% endblock %}

{% block classPage %}kid-edit{% endblock %}

{% block header %}
    <h1>Édition fiche {{kid.firstname}} {{kid.lastname}}</h1>
{% endblock %}

{% block body %}
    {{ include('kid/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    <div class="list-actions">
        <a href="{{ path('app_kid_index') }}" class="btn">Retour à la liste</a>
        {{ include('kid/_delete_form.html.twig') }}
    </div>
{% endblock %}
