{% extends 'base.html.twig' %}

{% block title %}Liste des enfants{% endblock %}

{% block classPage %}kid-index{% endblock %}

{% block header %}
	<h1>Liste des enfants</h1>
        <a href="{{path('app_kid_new')}}" class="btn green svg">{{ ux_icon('tabler:plus') }}</a>
{% endblock %}

{% block body %}
    <h2>Groupe des 3 à 5 ans</h2>
    <table class="table table-kids">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Âge</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kid in kids3To5 %}
            <tr>
                <td>{{ kid.firstname }}</td>
                <td>{{ kid.lastname }}</td>
                <td>{{ kid.age }}</td>
                <td>
                    <a href="{{ path('app_kid_show', {'id': kid.id}) }}">Voir</a>
                    <a href="{{ path('app_kid_edit', {'id': kid.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Groupe des 6 à 12 ans</h2>
        <table class="table table-kids">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Âge</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kid in kids6To12 %}
            <tr>
                <td>{{ kid.firstname }}</td>
                <td>{{ kid.lastname }}</td>
                <td>{{ kid.age }}</td>
                <td>
                    <a href="{{ path('app_kid_show', {'id': kid.id}) }}">Voir</a>
                    <a href="{{ path('app_kid_edit', {'id': kid.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
